{% extends 'base.html' %}

{% block title %}
	<title>Name Picker</title>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<form>
				<fieldset>
					<legend>Search</legend>
					<label>Search Terms</label>
					<input type="text" class=" search-query">
					<select class="input-small">
						<option>Name</option>
						<option>Meaning</option>
					</select>

					<button class="btn">Add Another Term</button>


					<label>Origin</label>
					<select>
						<option>America</option>
					</select>
					<button class="btn">+</button>
					
					<label>Gender</label>
					<select>
						<option>Male</option>
						<option>Female</option>
						<option>Both</option>
						<option>Either</option>
					</select>
				

					<label>Length</label>
					<input type="textbox" class="input-small" placeholder="min"> - <input type="textbox" class="input-small" placeholder="max">

					<label>Usage</label>
					<select>
						<option>Used</option>
						<option>Unused</option>
						<option>Either</option>
					</select>

					<label class="checkbox">
						<input type="checkbox"> Favorites only
					</label>
					<button class="btn">Search</button><br>
					<button class="btn">Add a name</button>
				</fieldset>
			</form>
			
		</div>
	</div>
{% endblock %}

